@page
@using PodcastRewind.Models
@model IndexModel
@{
    ViewData["Title"] = Constants.Logo;
}

<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
    Unfortunately, Azure Websites silently introduced a change recently that caused all existing 
    Podcast Rewind feeds to be deleted. Sadly, any feeds you created prior to March 2, 2024 will
    need to be recreated from scratch. <em>(Trust me, I'm as angry about this as you are! — Doug)</em>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h1>
    <span class="pr-logo">@Constants.Logo</span>
</h1>

<p>
    Have you ever come across a great podcast with a huge back catalog and wished there was
    an easy way to catch up on old episodes? Most podcast listening apps let you download old
    episodes, but you have to manage them manually, which can be a tedious process.
</p>

<p class="lead fw-semibold">
    Introducing <span class="pr-logo">@Constants.Logo</span>! Now you can rewind a podcast and
    let your app deliver old episodes as if they were new.
</p>

<p>
    Here's how it works: You pick which episode to start with (maybe you've already listened to
    a few) and how often you want new episodes to come out.
    <span class="pr-logo">@Constants.Logo</span> will provide you with a new podcast feed that
    you can subscribe to in your favorite podcast listening app.
</p>

<p>Here are some examples to get you started:</p>

<ul>
    <li>
        <p>
            Listen to
            <a asp-page="Setup" asp-route-interval="7" asp-route-feedUrl="http://feeds.nightvalepresents.com/welcometonightvalepodcast">Welcome To Night Vale from the beginning</a>
            with a new episode each week. (You'll be caught up in about four years!)
        </p>
    </li>
    <li>
        <p>
            Learn with a
            <a asp-page="Setup" asp-route-interval="1" asp-route-feedUrl="https://rss.acast.com/coffeebreakfrench">daily French lesson from Coffee Break French</a>.
        </p>
    </li>
    <li>
        <p>
            Find a re-watch podcast for a favorite TV show like
            <a asp-page="Setup" asp-route-feedUrl="https://feeds.simplecast.com/PxEW_ipK">The Office Ladies and watch along</a>
            at your own pace.
        </p>
    </li>
</ul>

<p>
    If your new feed starts to get too far ahead (or fall behind) and you want to change your pace,
    simply click the link in your podcast app to edit the rewind settings.
</p>

<p class="lead fw-normal">📡 <a asp-page="Search">Search for a podcast</a> and try it now!</p>
