@page
@using PodcastRewind.Models
@model PrivacyModel
@{
    ViewData["Title"] = $"{Constants.Logo} Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="lead fw-normal">I don't request, track, or save any personal information about you.</p>
