html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 30px;
}

.vh-50 {
  height: 50vh !important;
}

.vh-75 {
  height: 75vh !important;
}

.overflow-scroll-y {
  overflow-y: scroll !important;
}

.list-group-item .form-check-label:hover,
.list-group-item .form-check-label:focus {
  background-color: rgb(133, 235, 255);
}

.btn-icon img {
  height: 1.5rem;
  vertical-align: text-top;
}

.pr-logo {
  font-variant: unicase;
  font-weight: 500;
}

.fw-semibold {
  font-weight: 500;
}

/* Skip to content link
-------------------------------------------------- */
.skip-nav {
  background: transparent;
  color: #212121;
  text-decoration: underline;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.skip-nav:focus {
  background: #fff;
  left: 0;
  outline: 0;
  box-shadow: 0 0 3px #1B98CA, 0 0 7px #1B98CA;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
}

/* Bootstrap Icons
-------------------------------------------------- */
.bi {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -.125em;
  overflow: visible !important;
}
