@using PodcastRewind.Models
@{
    var iconsFile = Url.Content("~/img/app-icons.svg");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<a class="skip-nav" href="#main-content">Skip to main content</a>
<header>
    <nav class="navbar navbar-expand border-bottom bg-primary bg-opacity-10 shadow-sm mb-3">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index" title="Home">
                <span class="pr-logo">@Constants.Logo</span>
            </a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary my-2" asp-page="/Search">Create a New Podcast Rewind</a>
                </li>
                <!-- Dropdown selector for color mode -->
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle m-2" id="bd-theme" type="button" aria-haspopup="menu" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" title="Toggle theme">
                        <svg class="bi me-1 theme-icon-active">
                            <use href="@iconsFile#app-icon-circle-half"></use>
                        </svg>
                        <span class="ms-2 visually-hidden" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light">
                                <svg class="bi me-2 opacity-50">
                                    <use href="@iconsFile#app-icon-sun-fill"></use>
                                </svg>
                                Light
                                <svg class="bi ms-auto theme-checkmark d-none">
                                    <use href="@iconsFile#app-icon-check2"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                                <svg class="bi me-2 opacity-50">
                                    <use href="@iconsFile#app-icon-moon-stars-fill"></use>
                                </svg>
                                Dark
                                <svg class="bi ms-auto theme-checkmark d-none">
                                    <use href="@iconsFile#app-icon-check2"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                                <svg class="bi me-2 opacity-50">
                                    <use href="@iconsFile#app-icon-circle-half"></use>
                                </svg>
                                Auto
                                <svg class="bi ms-auto theme-checkmark d-none">
                                    <use href="@iconsFile#app-icon-check2"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" id="main-content" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container mt-3">
        Made by <a href="https://github.com/dougwaldron">Doug Waldron</a>
        &#x2000;&middot;&#x2000;
        <a asp-page="/Privacy">Privacy Policy</a>
        &#x2000;&middot;&#x2000;
        Source code on <a href="https://github.com/dougwaldron/podcast-rewind"><img class="align-baseline" src="/img/github.svg" alt="" aria-hidden="true" /> GitHub</a>
        &#x2000;&middot;&#x2000;
        Version @GetType().Assembly.GetName().Version?.ToString(3)
    </div>
</footer>

<script src="https://js.sentry-cdn.com/c23579f7cedb45cca8fdb548d2c049d1.min.js" crossorigin="anonymous"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/color-modes.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
