@using PodcastRewind.Models
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<a class="skip-nav" href="#main-content">Skip to main content</a>
<header>
    <nav class="navbar navbar-light bg-primary bg-opacity-25 border-bottom shadow-sm mb-3">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index" title="Home">
                <span class="pr-logo">@Constants.Logo</span>
            </a>
            <div class="bg-light rounded-2">
                <a class="btn btn-primary border-2" asp-page="/Search">Create a New Podcast Rewind</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" id="main-content" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container mt-3">
        Made by <a href="https://github.com/dougwaldron">Doug Waldron</a> &#x2000;&middot;&#x2000;
        <a asp-page="/Privacy">Privacy Policy</a><br />
        Source code on <a href="https://github.com/dougwaldron/podcast-rewind"><img class="align-baseline" src="/img/github.svg" alt="" aria-hidden="true" /> GitHub</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
